In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
data2015 = 'raw/2015.csv'
data2016 = 'raw/2016.csv'
data2017 = 'raw/2017.csv'
data2018 = 'raw/2018.csv'
data2019 = 'raw/2019.csv'
data2020 = 'raw/2020.csv'

In [14]:
df = pd.read_csv(data2017)
df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [15]:
df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [16]:
newdf = df[['Country','Happiness.Score','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.', 'Generosity']]
newdf = newdf.rename(columns={'Happiness.Score':'Happiness Score','Economy..GDP.per.Capita.':'GDP per Capita','Health..Life.Expectancy.':'Healthy Life Expectancy','Trust..Government.Corruption.)':'Perception of Government Corruption'})
newdf.head()

,Country,Happiness.Score,GDP per Capita,Family,Healthy Life Expectancy,Freedom,Trust..Government.Corruption.,Generosity
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [13]:
newdf.to_csv('cleaned/clean2016.csv')